.*
!.pylintrc
!.github
data/*
data_test/*
!data_test/timetree.nwk
!data_test/xbbtree.nwk
!data_test/clusters.json
!data_test/dbstats.json
!data/*mut_annotations.json
.idea/
treetime/*
scripts/geckodriver.log
geckodriver.log
debug/*
build/*
dist/*
venv/*
node_modules/*
cypress/fixtures/
cypress/plugins/
*.pyc
*.yml
!docker-compose.yml
!pylint.yml
!docker_scripts/backend/*
*.json
*.xz
working/*
covizu/data/xbb_outgrp.fasta
scripts/*.db

