name: End-to-end tests
on:
  pull_request:
    branches:
      - "master"
      - "dev"
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          config-file: config/cypress.config.js
          start: npm run test
        env:
            CYPRESS_IGNORE_TESTS: search
